


$orange: #FF5F00;
$backgroundColor: #000000;

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: $backgroundColor;
}


#message-list{
	color: #ececec;
	font-size: 48px;

	&>li{
		min-height: 20px;
		padding: 20px;
		margin-bottom: 20px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;

		text-align:center;

		&:nth-child(even){
			background-color: $orange;
		}
		&:nth-child(odd){
			background-color: lighten($orange, 15%);
		}
	}

}


.message.ng-enter,
.message.ng-leave,
.message.ng-move {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}
 
.message.ng-enter,
.message.ng-move {
	opacity: 0;
	height: 0;
	overflow: hidden;
}
 
.message.ng-move.ng-move-active,
.message.ng-enter.ng-enter-active {
	opacity: 1;
	height: 120px;
}
 
.message.ng-leave {
	opacity: 1;
	overflow: hidden;
}
 
.message.ng-leave.ng-leave-active {
	opacity: 0;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}