


$orange: #FF5F00;
$backgroundColor: #000000;

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: $backgroundColor;
}


#message-list{
	color: #ececec;
	font-size: 48px;

	&>li{
		min-height: 20px;
		padding: 20px;
		margin-bottom: 20px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;

		text-align:center;

		&:nth-child(even){
			background-color: $orange;
		}
		&:nth-child(odd){
			background-color: lighten($orange, 15%);
		}
	}

}